<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>

<body>
<header th:fragment="header">
    <!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" arial-label="Toggle navigation">-->
            <!--<span class="navbar-toggler"></span>-->
        <!--</button>-->
        <!--<div class="collapse navbar-collapse">-->
            <!--<ul class="navbar-nav mr-auto">-->
                <!--<li class="nav-item active"><a class="nav-link" href="http://localhost:8082/">Home</a></li>-->
                <!--<li class="nav-item "><a class="nav-link" href="http://localhost:8082/dolar">Dolar</a></li>-->
                <!--<li class="nav-item "><a class="nav-link" href="http://localhost:8082/euro">Euro</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="http://localhost:8082/">Home</a></li>
                <li class="nav-item "><a class="nav-link" href="http://localhost:8082/dolar">Dolar</a></li>
                <li class="nav-item "><a class="nav-link" href="http://localhost:8082/euro">Euro</a></li>
            </ul>
        </div>
    </nav>
    </nav>


    <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
    <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
    <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
    <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

</header>

<div th:fragment="onload">
    <div class="container">
        <div class="text-secondary borde text">
            <h1>pDolarHoy</h1>
        </div>
    </div>
    <div class="text-justify">
        <h1 class="text-info">pDolarHoy</h1>
        <spam>Compra</spam>
        <h1 th:text="${dolar_last.get().compra}"></h1>
        <spam>Venta</spam>
        <h1 th:text="${dolar_last.get().venta}"></h1>
        <spam>Fecha Guardado</spam>
        <h1 th:text="${dolar_last.get().fechaGuardado}"></h1>
        <spam>Ultima Actualizacion</spam>
        <h1 th:text="${dolar_last.get().fechaUltimaActualizacoin}"></h1>
    </div>

    <div>
        <h1 class="text-danger">DolarHoy</h1>
        <spam>Compra</spam>
        <h1 th:text="${dolar_now.compra}"></h1>
        <spam>Venta</spam>
        <h1 th:text="${dolar_now.getVenta()}"></h1>
        <spam>Ultima Actualizacion</spam>
        <h1 th:text="${dolar_now.fechaUltimaActualizacoin}"></h1>
    </div>
</div>

<footer th:fragment="footer" class="container">
    <hr>
    <a target="_blank" href="http://www.dolarhoy.com/cotizacion-dolar"> <img th:src="@{/images/logo.jpg}" alt=""></a>
    <script type="application/javascript" th:href="@{/js/jquery-3.3.1.js}"></script>
    <script type="application/javascript" th:href="@{/js/popper.js}"></script>
    <script type="application/javascript" th:href="@{/js/bootstrap.js}"></script>
</footer>


</body>
</html>